
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
body {
    background-image:url("./assets/img/배경.jpg") ;
    background-repeat: repeat;
    height: 100vh;
} 

#headerPage{
    text-align-last: center;
}

#navbarPage{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.navContent{
    background-image:url("./assets/img/btn_manage.png") ;
    background-repeat: no-repeat;
    width: 305px;
    height: 85px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
}


a{
    text-decoration : none;
    color: inherit; 
}

.memo{
    background-image:url("./assets/img/bg_note.png") ;
    background-repeat: no-repeat;
    width: 303px;
    height: 265px;
    margin: 20px;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
    display : flex;
    justify-content: center;
    align-items : center;
    text-align: center;
}

.memoList{
    margin-left:200px;
    margin-right:200px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;

}